<div cdk-scrollable class="mat-sidenav-content mat-elevation-z2"
     style="margin-right: 0px; transform: translate3d(0px, 0px, 0px);">
  <div class="content-container" fxLayout="column">
    <!--toolbar-->
    <div class="main-toolbar mat-elevation-z2">
      <div fxHide="false" fxHide.gt-sm="" fxLayout="row" fxLayoutAlign="start center">
        <button class="mat-icon-button" md-icon-button="">
          <md-icon aria-hidden="true">menu</md-icon>
        </button>
      </div>
    </div>

    <div fxFlex="500px" fxHide="" fxLayout="row" fxLayoutAlign="start center" fxShow.gt-md="">
      <div style="display: flex; box-sizing: border-box; flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal;">
        <div class="search-wrapper" fxFlex="" fxLayout="row">
          <md-icon class="search-icon" aria-hidden="true">search</md-icon>
          <input autocomplete="off" class="search-input" placeholder="Search..." spellcheck="false" type="search">

          <div class="search-dropdown mat-elevation-z1">
            <div class="content recents" fxLayout="row">
              <div class="recently" fxFlex="" fxLayout="column">
                <div class="heading" fxLayout="row" fxLayoutAlign="start center">
                  <md-icon aria-hidden="true">restore</md-icon>
                  Recently Visited
                </div>
                <div class="items">
                  <!---->
                  <div class="item" md-ripple="" tabindex="0">Dashboard</div>
                  <div class="item" md-ripple="" tabindex="0">Chat</div>
                  <div class="item" md-ripple="" tabindex="0">Fixed Header Table</div>
                  <div class="item" md-ripple="" tabindex="0">Material Icons</div>
                  <div class="item" md-ripple="" tabindex="0">Inbox</div>
                </div>
              </div>
              <div class="frequently" fxFlex="" fxFlexOffset="16px" fxLayout="column">
                <div class="heading" fxLayout="row" fxLayoutAlign="start center">
                  <md-icon aria-hidden="true">youtube_searched_for</md-icon>
                  Frequently Visited
                </div>
                <div class="items">
                  <div class="item" md-ripple="" tabindex="0">Form Elements</div>
                  <div class="item" md-ripple="" tabindex="0">Form Wizard</div>
                  <div class="item" md-ripple="" tabindex="0">WYSIWYG Editor</div>
                  <div class="item" md-ripple="" tabindex="0">Google Maps</div>
                  <div class="item" md-ripple="" tabindex="0">Material Dialog</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ toobar-->
  </div>
</div>
