
<!--<md-sidenav-container fullscreen>-->
  <!--<md-toolbar color="primary">-->
    <!--<i class="material-icons app-toolbar-menu">menu</i>-->
    <!--<span class="app-toolbar-filler"></span>-->
    <!--<md-sidenav>-->
      <!--sdfasdf-->
      <!--asdfasd-->
    <!--</md-sidenav>-->
  <!--</md-toolbar>-->
<!--</md-sidenav-container>-->

<md-sidenav-container fullscreen class="docs-navbar">
  <md-toolbar color="primary">
    <i class="material-icons app-toolbar-menu">menu</i>
    <span class="app-toolbar-filler"></span>
    <md-sidenav #sidenav>
      sdfasdf
      asdfasd
    </md-sidenav>
  </md-toolbar>
  <!--<md-sidenav #sidenav>-->
    <!--one-->
  <!--</md-sidenav>-->
  <button (click)="sidenav.open()">open</button>
  two
</md-sidenav-container>

