<div class="sidenav-container" fxLayout="column">
  <md-toolbar class="sidenav-toolbar" color="primary">
    <div fxLayout="row" style="width: 100%">
        <span fxFlexAlign="center" style="width: 22px; text-align: center; margin-left: -3px; align-self: center;">
          <img src="../../../assets/img/icon.png" style="width: 25px; vertical-align: text-top;">
        </span>
      <img class="fade-in-on-icon-sidenav" fxFlexAlign="center" src="../../../assets/img/logo.png"
           style="height: 35px; margin-left: 24px; margin-bottom: -5px; align-self: center;">
      <span fxFlex=""></span>
      <div fxFlexAlign="center" fxHide="true" fxHide.gt-sm="false" style="align-self: center;">
        <button class="mat-icon-button" md-icon-button="">
          <md-icon role="img" aria-hidden="true">chevron_left</md-icon>
        </button>
      </div>
    </div>
  </md-toolbar>
  <div class="sidenav-scrollbar-container" fxLayout="column">
    <md-nav-list class="sidenav-list sidenav-toplevel" fxLayout="column" style="position: relative;"
                 data-ps-id="e70a7e05-af40-1518-7755-30f8aff9afa6">
      <a class="sidenav-anchor" md-list-item md-ripple routerlinkactive="active" routerLink="/">
          <md-icon aria-hidden="true">dashboard</md-icon>
          <span class="sidenav-item-name">Dashboard</span>
          <span fxFlex=""></span>
          <!---->
      </a>
    </md-nav-list>
  </div>
</div>
